# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Datos procesados
data/processed/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

reports/
